
.buttonGames {
	box-shadow:inset 0px 8px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font:bold 20px "Arial Narrow";
	font-size:15px;
	font-style:normal;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 0px 0px #263666;
}
.buttonGames:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.buttonGames {
	position:relative;
	top:0px;
	left: 30%;
}
.buttonGames2 {
	box-shadow:inset 0px 8px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font:bold 20px "Arial Narrow";
	font-size:15px;
	font-style:normal;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 0px 0px #263666;
}
.buttonGames2:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.buttonGames2 {
	position:relative;
	top:0px;
	left: 40%;
}
a:link {
text-decoration:none;
}
a:visited {
text-decoration:none;
}
a:hover {
text-decoration:underline;
}

